ellipsis()
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis
indent()
  text-indent .1rem
  letter-spacing .1rem
center()
  width 87.8%
  position absolute
  left 0
  right 0
  margin auto